<html>
<head>
  <style>
    body {
      background: #EA674C;
    }
  </style>
</head>
  <body>
    <p><h1>
      Care to wager a number guess between 0 and 100?
    </h1></p>
      <form>
        <input type='text' name='guess' />
        <input type='submit' value='Guess!' />
      </form>
      <%= message %>
    </p>
  </body>
</html>
