<html>
<head></head>
  <body>
    <p>
      <form>
        <input type='text' name='guess' />
        <input type='submit' value='Guess!' />
      </form>
      <%= message %>
    </p>
  </body>
</html>
